body {
    font-style: italic;
    background-image: linear-gradient(#4077a3, #32bdb6);
    height: 155vh;
    font-weight: bolder;
    letter-spacing: 2px;
}
* { margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
.main-container {
    border-radius: 20px;
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}
.left {
    border-radius: 20px;
    padding-top: 230px;
    cursor: pointer;
    background-color: #3bfbdb;
    width: 200px;
    height: 100%;
    float: left;
}
.right {
    padding-top: 150px;
    width: 445px;
    float: left;
    /* background-color: #b0bebc; */
    /* margin-left: 5px; */
    position: relative;
    z-index: -2;
    height: 837px;
}
/* #fbb03b; 
#fbb03b73*/
.my-image {
    height: 180px;
    width: 180px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 10px solid #3bfbdb;
    box-shadow: 7px 8px 10px 6px #1b181373;
}
.my-image:hover {
    box-shadow: 7px 8px 10px 6px rgb(249, 248, 250);
}
.my-image img {
    height: 180px;
    width: 100%;
    border-radius: 50%;
}
.box1 {
    position: relative;
}
.heading {
    background-color: #4d4d4d;
    padding: 10px;
    color: #3bfbdb;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading:hover {
    color: white;
    box-shadow: 0px 1px 3px 0px rgb(249, 248, 250);
    font-size: 1.2rem;
}
.heading::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #5a5959;
    left: 191px;
    top: 26px;
    transform: rotate(56deg);
    z-index: -1;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}
.p1:hover {
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75rem;
    width: auto;
}
.icon:hover {
    font-size:15px ;
    transition: ease-in 1.5;
}
.icons1 {
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 0 10px;
}
.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html {
    width: 90%;
    background-color: white;
}
.css {
    width: 80%;
    background-color: white;
}
.js {
    width: 30%;
    background-color: white;
}
.js:hover {
    width: 30%;
    background-color: red;
}
.next-js {
    width: 40%;
    background-color: white;
}
.next-js:hover {
    width: 40%;
    background-color: red;
}
.tailwind-css {
    width: 50%;
    background-color: white;
    margin-bottom: 15px;
}
.tailwind-css:hover {
    width: 50%;
    background-color: red;
}
.cit {
    width: 70%;
    background-color: white;
    margin-bottom: 15px;
}
.cit:hover {
    width: 70%;
    background-color: red;
}
.web {
    width: 50%;
    background-color: white;
}
.web:hover {
    width: 50%;
    background-color: red;
}
/* .icons2 {
    padding: 18px 10px;

} */
.h-div {
    padding-top: 10px;
    padding-bottom: 05px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h-div p {
    font-size: 34px;
}
.name-div {
    padding: 86px 0 60px 55px;
    text-align: center;
    letter-spacing: 2px;
}
.name-div h1 {
    padding-top: 50px;
    margin-bottom: 10px;
    transition-duration: 1.5s;
    cursor: pointer;
}
.name-div h1:hover{box-shadow: 4px 5px 8px 2px #7a8583;}
.box2 {
    padding: 0 50px ;
    margin-top: 30px;
}
.box2 p {
    margin-bottom: 8px;
}
.p2 {
    font-size: 10.5px;
    font-weight: 600;
    letter-spacing: 0.85px;
    word-spacing: 2px;
    line-height: 15px;
    margin-top: 15px;
}
h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
.icons3 {
    vertical-align: bottom;
    font-size: 21px!important;
    color: #4d4d4d;
}